@model ParcialSaraRestrepoVelez.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Index";
}

<h4>Validar Ticket</h4>

<div class="row">
    <h1>Boletería concert DB</h1>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

